/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h4 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    margin-right: 2.1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

/* nav end */
.container {
    width: 90%;
    margin: 0 auto;
}

.influencer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.influencer p {
    font-family: 'Poppins', sans-serif;
}

.influencer img {
    width: 100%;
}

.influencer h1 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.btn {
    background: #E02C6D;
    font-weight: 700;
    padding: 10px 30px;
    color: #ffff;
    text-decoration: none;
    font-family: 'Poppins';
    border-radius: 41px;
}

.company-logo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    border: 1px solid black;
    padding: 40px 0;
}

.company-logo a img {
    width: 60%;
}

.star {
    display: flex;
    align-items: center;
}

.star p {
    margin-left: 8px;
    font-weight: 700;
    color: #5E6366;
}

.star .fa-solid {
    color: #FB8200;
}

.collection h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.box1 {
    max-width: 329px;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.box1 h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.box1 h4 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.box1 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #787885;
}

.see-more {
    display: flex;
    justify-content: flex-end;
}

.see-more a {
    text-decoration: none;
    font-family: 'Poppins' sans-serif;
    color: rgba(224, 44, 109, 0.87);
}

.featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
}

.featured h1 {
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.featured p {
    font-family: 'Poppins', sans-serif;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 50px 0;
}

.footer-container {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.online {
    background: rgb(27, 27, 27);
    padding: 10px 15px;
    border-radius: 50%;
}

.footer-container .online-cm {
    display: flex;
    justify-content: space-around;
}

.brand {
    font-size: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .influencer {
        flex-direction: column;
        text-align: center;
    }

    .influencer img {
        margin-top: 50px;
    }

    .company-logo {
        grid-template-columns: repeat(4, 1fr);
    }

    .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .featured img {
        width: 100%;
    }

    nav {
        background-color: #FB8200;
    }

    nav ul li {
        display: block;
        margin: 20px;
        box-sizing: border-box;
    }

    nav ul li a {
        color: #fff;
        background-color: #E02C6D;
        padding: 10px
    }
}